/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

li {
    list-style: none;
}

/* UTILITIES */
.central {
    margin: 0 auto;
}
.container {
    text-align: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.in-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}


/* APP */
.btn-box {
    width: 50px;
}

.btn {
    height: 100%;
    width: 100%;
}

.month-list {
    width: 631px;
    grid-template-columns: repeat(7, 1fr);
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.box {
    flex-basis: 90px;
    height: 90px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    justify-content: center;
    align-items: center;
}

.box.holiday {
    color: red;
}