/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    font-family: sans-serif;
    text-align: center;
    background-color: #000;
}

li {
    list-style: none;
}

/* UTILITIES */
.central {
    margin: 0 auto;
}
.container {
    text-align: center;
    background: rgba(242, 207, 29, 0.5);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.in-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}


/* APP */
.month {
    padding: 10px;
    background: #04BF8A;
    color: #fff;
}

.btn-box {
    width: 70px;
    background: #18298C;
}

.btn,
.btn:focus {
    outline: 0;
    height: 100%;
    width: 100%;
    font-size: 300%;
    border: 0;
    cursor: pointer;
    background: inherit;
    color: #fff
}

.btn:hover {
    opacity: 0.8;
}

.month-list {
    width: 705px;
    grid-template-columns: repeat(7, 1fr);
}

.box {
    height: 80px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #F2CF1D;
    color: #000;
}

.box:hover {
    opacity: 0.8;
}

.box.holiday,
.box.sunday {
    grid-column: 1 / 2;
    background: #F27781;
    color: #fff;
}

.box.monday {
    grid-column: 2 / 3;
}

.box.tuesday {
    grid-column: 3 / 4;
}

.box.wednesday {
    grid-column: 4 / 5;
}

.box.thursday {
    grid-column: 5 / 6;
}

.box.friday {
    grid-column: 6 / 7;
}

.box.saturday {
    grid-column: 7 / 8;
}